<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div class="row">
    <h1 id="projects-title" class="col-lg-11">Proyectos</h1>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-11">
        <!--Card 1-->
        <div class="card">
            <div class="card-content">
                <h3 class="card-title">Portafolio Web</h3>
                <p class="card-description">Mi primer Portafolio Web realizado en el curso Argentina Programa 4.0</p>
                <a href="" id="link">Ver</a>
            </div>
        </div>
        <!--Card 2-->
        <div class="card">
            <div class="card-content">
                <h3 class="card-title">Sistema de Gestión de Centros de Salud</h3>
                <p class="card-description">Plataforma Web desarrollada en Google Sites, con acceso a distintos archivos y carpetas. Todo el sistema está alojado en una cuenta de google drive. En dicho sistema se proporcionan distintos accesos y distintas vistas para los usuarios. Este sistema tiene el fin de que los centros de salud municipales realicen sus tareas administrativas de una manera más eficiente.</p>
                <div id="carrusel" class="carousel slide" data-ride="carousel">
                    <!-- Indicadores -->
                    <ol class="carousel-indicators">
                      <li data-target="#carrusel" data-slide-to="0" class="active"></li>
                      <li data-target="#carrusel" data-slide-to="1"></li>
                      <li data-target="#carrusel" data-slide-to="2"></li>
                    </ol>
                    <!-- Imágenes -->
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../../../assets/SGCS/img1.jpg" class="d-block w-100" alt="Imagen 1">
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/SGCS/img2.jpg" class="d-block w-100" alt="Imagen 2">
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/SGCS/img3.jpg" class="d-block w-100" alt="Imagen 3">
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/SGCS/img4.jpg" class="d-block w-100" alt="Imagen 4">
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/SGCS/img5.jpg" class="d-block w-100" alt="Imagen 5">
                      </div>
                      <div class="carousel-item">
                        <img src="../../../assets/SGCS/img6.jpg" class="d-block w-100" alt="Imagen 6">
                      </div>
                    </div>
                    <!-- Controles -->
                    <a class="carousel-control-prev" href="#carrusel" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carrusel" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Siguiente</span>
                    </a>
                  </div>
            </div>
        </div>
    </div>
</div>
