<div class="row">
    <h1 id="experience-title" class="col-lg-11">Experiencia</h1>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-image"></div>
            <div class="card-content">
              <h3 class="card-title">Observatorio de Salud</h3>
              <h6 class="Time">03/01/2022 - Actualidad</h6>
              <p class="card-description">Cumplí un rol muy flexible y realicé diferentes tareas según las necesidades demandadas. Usando herramientas conocidas como Google Apps Script y AppSheet, además de manejar herramientas de ofimática de Google.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-image2"></div>
            <div class="card-content">
              <h3 class="card-title">Atención al público</h3>
              <h6 class="Time">05/05/2021 - 31/12/2021</h6>
              <p class="card-description">Durante la campaña de vacunación contra el Covid-19, desempeñé tareas de atención al público, asegurando una buena atención a los usuarios. Además, utilicé la plataforma SISA para el control de carga de vacunas.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="card">
            <div class="card-image3"></div>
            <div class="card-content">
              <h3 class="card-title">Servicio Técnico</h3>
              <h6 class="Time">01/07/2018 - Actualidad</h6>
              <p class="card-description">Ofrezco servicios técnicos de alta calidad para la reparación y mantenimiento de computadoras, ofreciendo un servicio personalizado y prestando atención a los detalles y necesidades de mis clientes.</p>
            </div>
        </div>
    </div>
</div>