div{
    background: linear-gradient(to right, #f70052, #F79D00);
}

.login-button {
    background-color: white;
    color: #4B0082;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-top: 29px;
    margin-right: 10px;
}
.login-button:hover {
    background-color: #4B0082;
    color: white;
}

app-social{
    float: right;
    margin-top: 25px;
}

  