<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" id="card">
        <img src="../../../assets/Foto de perfil.jpeg" alt="Foto de perfil">
        <div class="info">
          <h2 class="name">Josué Giménez</h2>
          <p class="position">Full Stack Developer Junior</p>
        </div>
      </div>
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6" id="card2">
        <span>
            <h2>Sobre mí</h2>
            <p>Estudiante de ingeniería mecatrónica, apasionado por la tecnología y comprometido con su avance. Con habilidades en programación, busco mejorar mis conocimientos en esta área para aplicarlos en mi carrera. Mi dedicación y voluntad me hacen destacar en mi camino hacia el éxito.</p>
        </span>
    </div>
</div>