<div class="row">
  <h1 id="skills-title" class="col-lg-11">Habilidades</h1>
  <!--Card 1-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">HTML</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="70"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
  <!--Card 2-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">CSS</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="70"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
  <!--Card 3-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">C</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="75"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
  <!--Card 4-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">C++</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="45"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
  <!--Card 6-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">JavaScript</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="25"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
  <!--Card 7-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">Kotlin</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="30"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
  <!--Card 8-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">Google Apps Script</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="60"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
  <!--Card 9-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">Google AppsSheet</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="50"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
  <!--Card 10-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">Excel</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="70"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
  <!--Card 11-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">Word</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="60"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
    <!--Card 12-->
    <div id="card" class="col-lg-2">
      <div class="card-content">
        <div id="card-title" class="col-lg-11">Android Studio</div>
        <circle-progress
        [showSubtitle]="false"
        [percent]="70"
        [radius]="100"
        [titleColor]="'black'"
        [titleFontSize]="'40px'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [showUnits]="true"
        class="col-lg-12"
        ></circle-progress>
      </div>
    </div>
  <!--Card 13-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">Visual Studio Code</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="60"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
  <!--Card 14-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">Compañerismo</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="85"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#0C29FF'"
      [innerStrokeColor]="'#6778F7'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
  <!--Card 15-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">Comunicación</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="80"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#0C29FF'"
      [innerStrokeColor]="'#6778F7'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
  <!--Card 16-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">Liderazgo</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="80"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#0C29FF'"
      [innerStrokeColor]="'#6778F7'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
  <!--Card 16-->
  <div id="card" class="col-lg-2">
    <div class="card-content">
      <div id="card-title" class="col-lg-11">Adaptabilidad</div>
      <circle-progress
      [showSubtitle]="false"
      [percent]="95"
      [radius]="100"
      [titleColor]="'black'"
      [titleFontSize]="'40px'"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#0C29FF'"
      [innerStrokeColor]="'#6778F7'"
      [animation]="true"
      [animationDuration]="700"
      [showUnits]="true"
      class="col-lg-12"
      ></circle-progress>
    </div>
  </div>
</div>